venv/
.venv/
dist/
build
installer_output/
__pycache__/
*.pyc
panel_status.txt
auto_lobby.exe
teste.py
config.json
status.json
bot_log.txt
lobby_log.txt
in_game_log.txt
fim_game_log.txt
users_config.json
skills-lock.json
.agents
.vscode