venv/
.venv/
dist/
build
installer_output/
__pycache__/
*.pyc
panel_status.txt
auto_lobby.exe
teste.py
config.json
status.json
stats.json
esc_summary.lock
bot.lock
bot_log.txt
lobby_log.txt
in_game_log.txt
fim_game_log.txt
logs/
diag/
users_config.json
skills-lock.json
.agents
.vscode