venv/
.venv/
dist/
build
installer_output/
__pycache__/
*.pyc
cache_in_game_*.txt
cache_lobby_*.txt
cache_in_game.json
cache_lobby.json
panel_status.txt
auto_lobby.exe
teste.py
config.json
status.json
skills-lock.json
.agents
.vscode